* {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    background-color: hsl(0, 0%, 96%);
    padding-top: 30px;
    font-size: 25px;
}

header h1 {
    color: orange;

}

.hr {
    border-bottom: 2px solid hsl(0, 0%, 85%);
    width: 100%;
    margin-top: 20px;
}

main p {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

button {
    background-color: orange;
    padding: 8px;
    border-radius: 10px;
    width: 120px;
    border-color: hsl(39, 100%, 80%);
}

button:hover {
    box-shadow: 0 0 20px 1px yellowgreen;
}
button:active {
    box-shadow: 0 0 20px 1px rgb(255, 0, 0);
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 39px;
    gap: 10px;

}

.table {
    background-color: hsl(0, 0%, 96%);
    width: 98%;
    margin: 0 auto;
}

.data {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 12px;
    height: 40px;
    gap: 15px;

}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    align-items: center;

}

.bar {

    height: 100%;
    background-color: orange;
    border-radius: 5px;
}

